* {
    font-family: 'Ubuntu', sans-serif;
}

.analogButton {
    background-color: cyan;
    box-shadow: rgb(0, 77, 77) 2px 2px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
    cursor: pointer;
}

.analogButton:active {
    transform: translateY(2px) translateX(2px);
    box-shadow: rgb(0, 77, 77) 0px 0px 0px;
}